@charset "UTF-8";
/* Scss Document */
/*Her difinere jeg mine scass farve variabler - disse er de farver som banken skal v├ªlge inden laver deres website*/
/*END*/
h1 {
  color: #FFFFFF;
  font-family: Trim;
  font-size: 2em;
  font-weight: 800;
  line-height: 80px; }

h2 {
  font-size: 1.875rem; }

body {
  font: 100% Helvetica, sans-serif;
  color: #a70000;
  background-color: #f5f5f5; }

/*her diffinerer jeg classes for brug af brand1 som baggrundsfarve*/
.brand1-bg {
  background-color: #a70000; }

.ctabtn {
  background-color: #cf06e; }

.button:hover {
  background-color: red; }

/*Her benytter jeg nesting til at style min navigationsmenu - dette g├©r det mere intuitivt at style min menulinjen fordi jeg arbejder med parent og child elementer. Ligesom jeg g├©re det i min html kode.  */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
nav li {
  display: inline-block; }
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }
nav a:hover p {
  background-color: green; }
